@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: rgb(64, 61, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

header{
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(64, 61, 88);

}

.scoreboard{
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: white solid;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: relative;
}

.container{
    background-color: rgb(255, 255, 255, 0.5);
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 10px 20px #00000059;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
    background-color: rgb(38, 84, 136);
    
    border-radius: 50px;
    transition: all 0.3s;
}

.choice:hover{
    background-color: rgb(33, 68, 114);
    cursor: pointer;
}

.choice:active{
    transform: scale(0.98);
}


.result{
    color: white;
    font-size: 20px;
    margin: 20px;
}

img{
    width: 100px;
}

.badge{
    background-color: rgb(214, 13, 13);
    width: 40px;
    font-size: 12px;
    border-radius: 2px;
}

#user-badge{
    position: absolute;
    left: -20px
    
}

#comp-badge{
    position: absolute;
    right: -20px
    
}
